appdirs==1.4.3
astroid==1.4.9
beautifulsoup4==4.5.3
click==6.7
coverage==4.3.4
Django==1.10.5
django-cors-headers==2.0.2
djangorestframework==3.5.4
Flask==0.12
html5lib==0.999999999
isort==4.2.5
itchat==1.2.27
itsdangerous==0.24
Jinja2==2.9.5
lazy-object-proxy==1.2.2
lxml==4.6.3
MarkupSafe==0.23
mccabe==0.6.1
mysql-connector==2.1.4
packaging==16.8
psycopg2==2.6.2
Pygments==2.2.0
pylint==1.6.5
PyMySQL==0.7.10
pyparsing==2.2.0
pypng==0.0.18
PyQRCode==1.2.1
requests==2.13.0
simplejson==3.10.0
six==1.10.0
tornado==4.4.2
webencodings==0.5
Werkzeug==0.11.15
wrapt==1.10.8
wxpy==0.1.0
